<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find slambot)/description/colors.xacro"/>
    <xacro:include filename="$(find slambot)/description/inertial_macros.xacro"/>
    <xacro:include filename="$(find slambot)/description/chassis.xacro"/>
    <xacro:include filename="$(find slambot)/description/wheel.xacro"/>
    <xacro:include filename="$(find slambot)/description/sensors.xacro"/>

    <link name="base_link"/>

    <xacro:chassis_body/>
    <xacro:drive_wheel side="left" y_offset="0.065"/>
    <xacro:drive_wheel side="right" y_offset="-0.065"/>
    <xacro:lidar_sensor/>
    <xacro:camera_sensor/>
</robot>
