<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="lidar_sensor" params="parent:=base_link joint_name:=lidar_joint link_name:=lidar">
        <joint name="${joint_name}" type="fixed">
            <parent link="${parent}"/>
            <child link="${link_name}"/>
            <origin xyz="0.02 0 0.185" rpy="0 0 0"/>
        </joint>
        <link name="${link_name}">
            <visual>
                <origin xyz="0 0 -0.020"/>
                <geometry>
                    <box size="0.055 0.055 0.025"/>
                </geometry>
                <material name="black"/>
            </visual>
            <visual>
                <origin xyz="0 0 -0.0125"/>
                <geometry>
                    <cylinder radius="0.026" length="0.040"/>
                </geometry>
                <material name="black"/>
            </visual>
        </link>
    </xacro:macro>
    <xacro:macro name="camera_sensor" params="parent:=base_link joint_name:=cam_joint link_name:=cam">
        <joint name="${joint_name}" type="fixed">
            <parent link="${parent}"/>
            <child link="${link_name}"/>
            <origin xyz="0.07 0 0.135" rpy="0 ${pi/2} 0"/>
        </joint>
        <link name="${link_name}">
            <visual>
                <origin xyz="0 0 -0.01"/>
                <geometry>
                    <box size="0.020 0.020 0.010"/>
                </geometry>
                <material name="black"/>
            </visual>
            <visual>
                <geometry>
                    <cylinder radius="0.006" length="0.010"/>
                </geometry>
                <material name="black"/>
            </visual>
        </link>
    </xacro:macro>
</robot>
